* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* For box model*/
}
body{
    font-family: "Merriweather",sans-serif;
    background-color: #ebf2ff;
    align-items: center;

}
.button__primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 56%,
        #ff512f 100%
    );
    color:#fff;
    padding: 12px;
    border:none;
    border-radius: 6px;

}
.navbar {
    background-color: #fff;
    display :flex;
    justify-content: space-around;

}
.navbar__brand {
    width: 100px;
}
.navbar__logo{
    width:100%;
}

.navbar__nav__items{
    padding:15px 0px 0px 0px;
}
@media (min-width: 768px) {
    .navbar{
        justify-content: space-between;
        padding: 10px 20px;
    }   
    .navbar__brand {
        width: 150px;
    }
    .button__primary{
        padding:20px;
        font-size: 20px;
    }
}